# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
server.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.apk
window_dump.xml
